/* SearchBarInactive.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bar{
    /* Airbnb Search */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 8px 32px;
    gap: 32px;
    justify-content: center;

    width: 848px;
    height: 64px;

    /* white */
    background: #FFFFFF;
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #f0f0f0;
}

.seg{
    align-items: center;
    /* padding: 0 15px; */
}
.seg.icon{
    display: flex;
}
.seg:not(:last-child){
    border-right: 1px solid rgba(49, 48, 48, 0.315);
}

.text-primary{
    /* Attribute */

    width: 150px;
    height: 16px;

    /* text-xs/Medium */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;

    /* black */
    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#circle{
    /* Icon Button Base */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    width: 48px;
    height: 48px;

    background: #DE3151;
    /* shadow-base */
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

}